
      body {background-color: #EAF6F6;}

      img {
            width: 35%;

      }

      hr{
            boarder-stle: none;
           boarder-top-style: dotted;
           border-color: grey;
           border-width: 5xp;
           width: 3.5%;

         }
         h1 {

           color: #66BFBF;
         }


         h3 {

           color: #66BFBF;
         }


         h2            {

           color: #66BFBF;
         }

         .ernest {
           background-color: #EAF6F6;
         }
